---

---

<section
  class="h-screen w-full relative bg-hero-pattern bg-cover bg-center bg-no-repeat flex items-end"
>
  <div class="absolute inset-0 bg-raisin/20"></div>
  <div
    class="w-full max-w-none px-4 sm:px-6 lg:px-8 relative z-10 pb-16 md:pb-24"
  >
    <div class="max-w-lg">
      <p
        class="text-xl md:text-2xl lg:text-3xl text-white-smoke font-medium mb-6 leading-snug bg-olivine/80 p-4 inline-block"
      >
        Web + AI Developer crafting intuitive and intelligent applications.
      </p>
    </div>
  </div>
</section>

<style>
  .bg-hero-pattern {
    background-image: url("/images/IMG_1938.jpeg");
    width: 100%;
    background-size: cover;
  }
</style>
